@page
@model Recipe_Now.Pages.CardModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/card.css">
}

<div class="container-fluid h-100 overflow-hidden " style="padding-left: 0px; padding-right: 0px;">

    <div id="carouselExampleControls" class="carousel slide h-100" data-ride="carousel">
        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100 photo"
                 style="background-image: url(https://images.unsplash.com/photo-1528216142275-f64d7a59d8d5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1371&q=80);">
            </div>
            <div class="carousel-item h-100 photo"
                 style="background-image: url(https://images.unsplash.com/photo-1564844536311-de546a28c87d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1265&q=80);">
            </div>
        </div>


        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="info ">
    <h3 id="title">Lorem ipsum dolor sit </h3>
    <div class="d-flex justify-content-center  btn-group">
        <button type="button" class="btn btn-outline-secondary btn-lg">Ingredients</button>
        <button type="button" class="btn btn-outline-secondary btn-lg">Full Recipe</button>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-around ">
            <div class="fab fa-twitter-square fa-3x"></div>
            <div class="fab fa-facebook-square fa-3x"></div>
            <div class="fab fa-pinterest-square fa-3x"></div>
            <div class="fab fa-instagram-square fa-3x"></div>
            <div class="bot fas fa-envelope-square fa-3x"></div>

        </div>
    </div>
</div>
