@page
@model Recipe_Now.Pages.CollectionModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/collection.css">
}

<div class="container d-flex " style=" margin-top: 2.7em;">
    <div class="row">
        <form asp-page="./Search" method="post">
            <button style="border: none;"  type="submit">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="https://images.unsplash.com/photo-1581546104493-f7e013a136ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1315&q=80" alt="">
            <div class="carousel-caption" style="background-color: black;">
                <h1>Likes</h1>
                Our Users Favorite Recipes
            </div>
        </div>
        </button>
        <input type="hidden" name="searchString" value="likes">
        </form>


        <form asp-page="./Search" method="post">
            <button  style="border: none;"  type="submit">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="https://images.unsplash.com/photo-1589881133595-a3c085cb731d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80" alt="">
            <div class="carousel-caption" style="background-color: black;">
                <h1>Cheese</h1>
                Praise Cheesus!
            </div>
        </div>
        </button>
        <input type="hidden" name="searchString" value="Cheese">
        </form>

    </div>


    <div class="row">
        <form asp-page="./Search" method="post">
            <button style="border: none;"  type="submit">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="https://images.unsplash.com/photo-1598023697853-acbf6429d3c8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
            <div class="carousel-caption" style="background-color: black;">
                <h1>Apples</h1>
                How do you like them apples?
            </div>
        </div>
        </button>
        <input type="hidden" name="searchString" value="apple">
        </form>

        <form asp-page="./Search" method="post">
            <button style="border: none;"  type="submit">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="https://images.unsplash.com/photo-1567579518027-7a113279f8ce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80" alt="">
            <div class="carousel-caption" style="background-color: black;">
                <h1>Beer</h1>
                Grab a Beer!
            </div>
        </div>
        </button>
        <input type="hidden" name="searchString" value="beer">
        </form>


    </div>

</div>
