@page
@model Recipe_Now.Pages.CollectionModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/collection.css">
}

<div class="container d-flex " style=" margin-top: 2.7em;">
    <div class="row">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="pic/food1.jpeg" alt="">
            <div class="carousel-caption">
                <h1>Random Title</h1>
                fjdklajfkdjsalkfjdlksajfldksjaflkdsjafl
            </div>
        </div>
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="pic/food2.jpg" alt="">
            <div class="carousel-caption">
                <h1>Random Title</h1>
                fjdklajfkdjsalkfjdlksajfldksjaflkdsjafl
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="pic/food3.jpg" alt="">
            <div class="carousel-caption">
                <h1>Random Title</h1>
                fjdklajfkdjsalkfjdlksajfldksjaflkdsjafl
            </div>
        </div>
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="pic/food1.jpeg" alt="">
            <div class="carousel-caption">
                <h1>Random Title</h1>
                fjdklajfkdjsalkfjdlksajfldksjaflkdsjafl
            </div>
        </div>
    </div>

</div>
