@page
@model Recipe_Now.Pages.CollectionModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/collection.css">
}

<div class="container d-flex " style=" margin-top: 2.7em;">
    <div class="row">
        <form asp-page="./Search" method="post">
            <button style="border: none;"  type="submit">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="pic/food1.jpeg" alt="">
            <div class="carousel-caption" style="background-color: black;">
                <h1>Turkey</h1>
                this is some text
            </div>
        </div>
        </button>
        <input type="hidden" name="searchString" value="turkey">
        </form>


        <form asp-page="./Search" method="post">
            <button  style="border: none;"  type="submit">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="pic/food1.jpeg" alt="">
            <div class="carousel-caption" style="background-color: black;">
                <h1>Cheese</h1>
                this is some text
            </div>
        </div>
        </button>
        <input type="hidden" name="searchString" value="Cheese">
        </form>

    </div>


    <div class="row">
        <form asp-page="./Search" method="post">
            <button style="border: none;"  type="submit">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="pic/food1.jpeg" alt="">
            <div class="carousel-caption" style="background-color: black;">
                <h1>Apples</h1>
                this is some text
            </div>
        </div>
        </button>
        <input type="hidden" name="searchString" value="apple">
        </form>

        <form asp-page="./Search" method="post">
            <button style="border: none;"  type="submit">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 a">
            <img src="pic/food1.jpeg" alt="">
            <div class="carousel-caption" style="background-color: black;">
                <h1>Beer</h1>
                this is some text
            </div>
        </div>
        </button>
        <input type="hidden" name="searchString" value="beer">
        </form>


    </div>

</div>
