@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css">
}

<div class="container-fluid d-flex justify-content-center align-items-center photo  h-100 overflow-hidden " style="padding-left: 0px; padding-right: 0px; background-image: url(https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">

    <div class="title ">
        <h1>Recipe Now</h1>
    </div>
</div>
