@page
@model Recipe_Now.Pages.LikesModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/likes.css">
}

<div class="container-fluid d-flex " style=" margin-top: 2.7em;">
    <div class="row">
        @foreach (var r in Model.FavoriteRecipes)
        {
            <div class="no-gutters col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 a"><img src="@r.ImagePath" alt=""></div>
        }
    </div>
</div>
