@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@section Styles {
    <link rel="stylesheet" href="~/css/signup.css">
}

<div class="container-fluid d-flex justify-content-center align-items-center photo  h-100 overflow-hidden" id="box">
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Email">Enter your Email.</label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}