

.photo {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



.title{
    padding: 2em;
    background-color: rgba(0,128,128 ,0.4 );
    border: solid black;
    font-family: prata, serif;
    
    
}