html, body {
    height: 100%;
}

a {
    color: white;
    font-family: 'Playfair Display', sans-serif;
}


.but{
    background-color: black;
    color: white;
    border: black;
}

.but:hover{
    background-color: teal;
    border-radius: 0px;
    border: black;
    color: black;
}


.form-control{
    padding: .55rem;  
    border-radius: 0px;
    padding-right: 10rem;
    margin-right: 5rem;
    margin-top: 2px;
    background-color: black;
    border: 0;
    
}

.form-control:focus {
    background-color: black;
    color: teal;
    box-shadow: 0 0 0 0.2rem teal;
}


input{
    background-color: black;
    font-family: 'Playfair Display', sans-serif;
}

.navbar{
    border-bottom: 1px solid teal;
}

